extends layout

block content
  h1= title
  form(method="post", enctype="multipart/form-data", action="/upload")
   h2 username
   input(type="text", name="username")
   h2 title
   input(type="text", name="title")
   h2 comment
   input(type="text", name="comment")
   h2 picture
   input(type="file", name="picture")
   input(type="submit")
