.account_box, .profile_box {
  width: 625px;
}
.text_set, .password_set {
  margin: 0 0 10px;
}
.set_field {
  background: transparent;
  border: 1px solid #D9D9D9;
  color: #444;
  font-size: 14px;
  margin: 0;
  max-width: 100%;
  outline: 0;
  padding: 6px 9px;
  width: 330px;
  border-radius: 2px;
  line-height: 1.4;
}
.button_wrapper {
  display: flex;
}
.e_p_btn {
  margin: 0;
}
.e_p_btn_c {
  margin: 0 10px 0 0;
}
.pro_pic_ch_btn {
  float: right;
}
#email_password_save, #password_save, #username_save, #profile_save {
  color: white;
  margin: 0;
}
#email_password_cancel, #password_cancel, #username_cancel {
  background: #9da6af;
  color: white;
  margin: 0;
}
.pro-pic .caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		15%;
	color:			#fff;
}
.pro-pic .mask {
  width:			30px;
  height:			30px;
  border: none;
  border-radius: 2px;
  position:		absolute;	/* 絶対位置指定 */
  margin-left: auto;
  margin-right: auto;
  top:			40%;
  left: 47%;
  opacity:		0;	/* マスクを表示しない */
  background-color:	rgba(0,0,0,0.5);	/* マスクは半透明 */
  -webkit-transition:	all 0.2s ease;
  transition:		all 0.2s ease;
}
.pro-pic:hover .mask {
	opacity:		1;	/* マスクを表示する */
}
