div.ui.container {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.column {
  width: 29%;
  margin: 0px 28px 28px 0px;
}

.image {
  overflow:hidden;
  max-height: 145px;
}

.heart-button {
  height: 10px;
  width: 10px;
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -156px;
  background-repeat: no-repeat;
}

@media (max-width: 735px) {
  .column {
    width: 49%;
    margin: 0 0 7px 0;
    /*margin: 0px 3px 3px 0px;*/
  }
  .image {
    max-height: 86px;
  }
}
