
/*プログレスバー*/
.loadingBar {
  width: 0;
  height: 4px;
  background: #0099CC;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);*/
  position: fixed;
  top: 77px;
  left: 0;
  transition: all 0.2s linear 0s;
  z-index: 99;
}

@media only screen and (max-device-width : 480px){
/* スマートフォンだけ以下を適用 */

  .loadingBar {
    top: 45px;
  }

}
