
ul.sidebar-menu {
    margin: 0;
    /*padding: 0;*/
    max-width: 400px;
    list-style: none;
    list-style-type: none;
    position: absolute;

}
.sidebar-menu li a span {
	margin-right: 20px;
  color: #fff;
}
.sidebar-menu li a  {
	background-color: #4d5158;
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	color: #fff;
}
.sidebar-menu li a:hover  {
	background-color: #52565d;
	padding: 20px 25px;
	display: block;
	text-decoration: none;
	color: #fff;
}
li.have-children ul {
	padding: 0px;
}
li.have-children ul li a {
	background-color: #3c3636;
	padding-left: 62px;
}
li.have-children ul li a:hover {
  color: #fff;
	background-color: #52565d;
	padding-left: 62px;
}
li.have-children, li {
	position: relative;
}
.sidebar-menu .have-children > ul {
    display: none;
}
.active-line {
  width: 10px;
  height: 72px;
  background: #0099CC;
  position: absolute;
  left: 264px;
  top: 0px;
}
.fa-user-circle, .fa-cog {
  font-size: 20px;
  margin-right: 20px;
}
