/*body {
    font-family: 'Lato', sans-serif;
    background: #eee;
}

* {
    margin: 0;
    padding: 0;
}*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

img { -ms-interpolation-mode: bicubic; }

audio, canvas, video {
  display: inline-block;
}

body {
    /*font-family: "Lato", “游ゴシック Medium”, “Yu Gothic Medium”, sans-serif;*/ /*全体のフォント*/
    font-family: "Lato", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: lighter;
    -webkit-text-size-adjust: 100%;
    position: relative;
    margin: 0;
    /*background: #fafafa;*/
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }

article.content {
    /*min-height: 100vh;*/
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto 0;
    max-width: 935px;
    width: 100%;
}

.content.bg {
  min-height: 750px;
  position: relative;
  background-color: #fafafa;
}

.content-body {
    /*padding: 0px 20px;*/
    padding-top: 77px;
    line-height: 2em;
    position: relative;
    z-index: 2;
    background: #fafafa;
}

.clear {
  clear: both;
}


/*article {
			height: 1000px;
			margin: 100px auto;
			text-align: center;
			line-height: 1.9;
}*/

article p {
			margin-bottom: 1em;
}

a {
			color: #0b8793;
}

ul {
  list-style: none;
}

#main-visual {
			background: #1d76a6;
			background: -webkit-linear-gradient(90deg, #360033 10%, #0b8793 90%);
			background:    -moz-linear-gradient(90deg, #360033 10%, #0b8793 90%);
			background:     -ms-linear-gradient(90deg, #360033 10%, #0b8793 90%);
			background:      -o-linear-gradient(90deg, #360033 10%, #0b8793 90%);
			background:         linear-gradient(90deg, #360033 10%, #0b8793 90%);
			height: 700px;
}

footer {
			padding: 30px;
			text-align: center;
			border-top: solid 1px #bbb;
}

footer a {
			color: #666;
			text-decoration: none;
}


.inner {
			/*width: 980px;*/
			margin: 0 auto;
      padding: 0px 40px;
}

.inner:after {
			content: "";
			clear: both;
			display: block;
}

::-webkit-input-placeholder {
    color:    #a1a1a1;
    font-weight: lighter;
}
:-moz-placeholder {
    color:    #a1a1a1;
    font-weight: lighter;
}

@media only screen and (max-device-width : 480px){
/* スマートフォンだけ以下を適用 */

body {
 		  font-size: 10px;
  	}
.content-body {
        padding: 45px 5px 0px 5px;
      }
.inner {
  padding: 0 10px;
}

}

@media (max-width: 735px) {

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
  .pc { display: none !important; }
  .sp { display: block !important; }

}

@media (min-width: 736px) {
  article.content {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
  }
}
