@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#dropzone .mipho {
	font-size: 60px;
	color: #989898;
}

/* ▼タブ領域全体 */
		#tabcontrol {
			margin: 0;
		}

		/* ▼タブ */
		#tabcontrol a {
			display: inline-block;                /* インラインブロック化 */
			border-width: 1px 1px 0px 1px;        /* 下以外の枠線を引く */
			border-style: solid;                  /* 枠線の種類：実線 */
			/*border-color: none;*/                  /* 枠線の色：黒色 */
			border-radius: 0.75em 0.75em 0px 0px; /* 枠線の左上角と右上角だけを丸く */
			padding: 0.75em 1em;                  /* 内側の余白 */
			text-decoration: none;                /* リンクの下線を消す */
			color: white;                         /* 文字色：黒色 */
			background-color: transparent;            /* 背景色：白色 */
			font-weight: bold;                    /* 太字 */
			position: relative;                   /* JavaScriptでz-indexを調整するために必要 */
		}

		/* ▼タブにマウスポインタが載った際（任意） */
		#tabcontrol a:hover {
			text-decoration: underline;   /* リンクの下線を引く */
      background-color: #5d627bd9;
		}

		/* ▼タブの中身 */
		#tabbody .tby{
			border: 3px solid #5d627b; /* 黒色の実線を1pxの太さで引く */
			margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
			padding: 3em;            /* 内側の余白 */
			background-color: white; /* 背景色：白色 */
			position: relative;      /* z-indexを調整するために必要 */
			z-index: 0;              /* 重なり順序を「最も背面」にするため */
			min-height: 5em;         /* 最低の高さが必要なら指定(不要なら省略可) */
		}

    #tabbody #map{
			margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
      margin-top: 2em;
			padding: 1em;            /* 内側の余白 */
			/*background-color: white;*/ /* 背景色：白色 */
			position: relative;      /* z-indexを調整するために必要 */
			z-index: 0;              /* 重なり順序を「最も背面」にするため */
			min-height: 5em;         /* 最低の高さが必要なら指定(不要なら省略可) */
		}

		/* ▼タブの配色 */
		#tabcontrol a:nth-of-type(1) { border-color: #5d627b; background-color: #5d627b; }
    #tabbody .tby:nth-child(1) { border: 3px solid #5d627b; }
    /*#tabcontrol a:nth-child(1) { border-color: #007bb6; background-color: #007bb6; }
    #tabbody .tby:nth-child(1) { border: 3px solid #007bb6; }*/
    #tabcontrol a:nth-of-type(2) { border-color: tomato; background-color: tomato; }	/* 1つ目のタブとその中身用の配色 */
    #tabbody .tby:nth-child(2) { border: 3px solid tomato; }
    #tabcontrol a:nth-of-type(3) { border-color: #009a9a; background-color: #009a9a; }	/* 3つ目のタブとその中身用の配色 */
    #tabbody .tby:nth-child(3) { border: 3px solid #009a9a; }
		/*#tabcontrol a:nth-child(2), #tabbody div:nth-child(2) { background-color: #ddffdd; }*/	/* 2つ目のタブとその中身用の配色 */
		/*#tabcontrol a:nth-child(3), #tabbody div:nth-child(3) { background-color: #ddddff; }*/	/* 3つ目のタブとその中身用の配色 */


.icon {
  display: inline-block;
	color: black;
  width: 32px;
  height: 32px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.add-up {
	background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -156px;
	background-repeat: no-repeat;
	height: 24px;
  width: 24px;
}

@media only screen and (max-device-width : 480px){
/* スマートフォンだけ以下を適用 */

	.icon {
	  width: 24px;
		height: 24px;
		margin-bottom: 15px;
	}

}
