@media (max-width: 735px) {
  #tab-footer div, #tab-footer nav {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #tab-footer .tabfotter {
    padding: 0 20px;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  #tab-footer .tab-content {
    height: 45px;
  }
  #tab-footer .tab-content::before {
    background: rgba(0,0,0,.0975);
    content: '';
    /*height: 1px;*/
    left: 0;
    position: absolute;
    right: 0;
    top: -1px;
  }
  #tab-footer .content {
    height: 45px;
  }
  #tab-footer .tab--content {
    border-top: 1px solid rgba(0,0,0,.0975);
    background-color: #fff;
    border: 0;
    bottom: 0;
    height: 44px;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
  }
  #tab-footer .tab-menu {
    height: 100%;
  }
  #tab-footer .tab--menu {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
  }
  #tab-footer .tab-link {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #tab-footer .tab--link {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  #tab-footer .tab-icon {
    margin: 0 auto;
    height: 24px;
    width: 24px;
    background-image: url(https://goo.gl/NLUdLH);
    background-repeat: no-repeat;
  }
  #tab-footer .hometab {
    background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2033%2033%22%20style%3D%22enable-background%3Anew%200%200%2033%2033%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M27.649%2C33h-7.216c-0.276%2C0-0.5-0.224-0.5-0.5V22.32h-6.867V32.5c0%2C0.276-0.224%2C0.5-0.5%2C0.5H5.348%20c-0.276%2C0-0.5-0.224-0.5-0.5V15.893H0.73c-0.205%2C0-0.389-0.125-0.465-0.315c-0.075-0.19-0.027-0.407%2C0.121-0.548L16.154%2C0.137%20c0.193-0.183%2C0.494-0.182%2C0.688%2C0l15.772%2C14.893c0.148%2C0.141%2C0.196%2C0.358%2C0.121%2C0.548c-0.076%2C0.19-0.26%2C0.315-0.465%2C0.315h-4.121%20V32.5C28.149%2C32.776%2C27.925%2C33%2C27.649%2C33z%20M20.933%2C32h6.216V15.393c0-0.276%2C0.224-0.5%2C0.5-0.5h3.363L16.498%2C1.188L1.988%2C14.893h3.36%20c0.276%2C0%2C0.5%2C0.224%2C0.5%2C0.5V32h6.218V21.82c0-0.276%2C0.224-0.5%2C0.5-0.5h7.867c0.276%2C0%2C0.5%2C0.224%2C0.5%2C0.5V32z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    /*background-position: -408px -260px;*/
  }
  #tab-footer .searchtab {
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2052.966%2052.966%22%20style%3D%22enable-background%3Anew%200%200%2052.966%2052.966%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M51.704%2C51.273L36.845%2C35.82c3.79-3.801%2C6.138-9.041%2C6.138-14.82c0-11.58-9.42-21-21-21s-21%2C9.42-21%2C21s9.42%2C21%2C21%2C21%20c5.083%2C0%2C9.748-1.817%2C13.384-4.832l14.895%2C15.491c0.196%2C0.205%2C0.458%2C0.307%2C0.721%2C0.307c0.25%2C0%2C0.499-0.093%2C0.693-0.279%20C52.074%2C52.304%2C52.086%2C51.671%2C51.704%2C51.273z%20M21.983%2C40c-10.477%2C0-19-8.523-19-19s8.523-19%2C19-19s19%2C8.523%2C19%2C19%20S32.459%2C40%2C21.983%2C40z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    /*background-position: -362px -390px;*/
  }
  #tab-footer .addtab {
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20490.337%20490.337%22%20style%3D%22enable-background%3Anew%200%200%20490.337%20490.337%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cg%3E%20%3Cpath%20d%3D%22M229.9%2C145.379l-47.5%2C47.5c-17.5%2C17.5-35.1%2C35-52.5%2C52.7c-4.1%2C4.2-7.2%2C9.8-8.4%2C15.3c-6.3%2C28.9-12.4%2C57.8-18.5%2C86.7%20l-3.4%2C16c-1.6%2C7.8%2C0.5%2C15.6%2C5.8%2C20.9c4.1%2C4.1%2C9.8%2C6.4%2C15.8%2C6.4c1.7%2C0%2C3.4-0.2%2C5.1-0.5l17.6-3.7c28-5.9%2C56.1-11.9%2C84.1-17.7%20c6.5-1.4%2C12-4.3%2C16.7-9c78.6-78.7%2C157.2-157.3%2C235.8-235.8c5.8-5.8%2C9-12.7%2C9.8-21.2c0.1-1.4%2C0-2.8-0.3-4.1c-0.5-2-0.9-4.1-1.4-6.1%20c-1.1-5.1-2.3-10.9-4.7-16.5l0%2C0c-14.7-33.6-39.1-57.6-72.5-71.1c-6.7-2.7-13.8-3.6-20-4.4l-1.7-0.2c-9-1.1-17.2%2C1.9-24.3%2C9.1%20C320.4%2C54.879%2C275.1%2C100.179%2C229.9%2C145.379z%20M386.4%2C24.679c0.2%2C0%2C0.3%2C0%2C0.5%2C0l1.7%2C0.2c5.2%2C0.6%2C10%2C1.2%2C13.8%2C2.8%20c27.2%2C11%2C47.2%2C30.6%2C59.3%2C58.2c1.4%2C3.2%2C2.3%2C7.3%2C3.2%2C11.6c0.3%2C1.6%2C0.7%2C3.2%2C1%2C4.8c-0.4%2C1.8-1.1%2C3-2.5%2C4.3%20c-78.7%2C78.5-157.3%2C157.2-235.9%2C235.8c-1.3%2C1.3-2.5%2C1.9-4.3%2C2.3c-28.1%2C5.9-56.1%2C11.8-84.2%2C17.7l-14.8%2C3.1l2.8-13.1%20c6.1-28.8%2C12.2-57.7%2C18.4-86.5c0.2-0.9%2C1-2.3%2C1.9-3.3c17.4-17.6%2C34.8-35.1%2C52.3-52.5l47.5-47.5c45.3-45.3%2C90.6-90.6%2C135.8-136%20C384.8%2C24.979%2C385.7%2C24.679%2C386.4%2C24.679z%22%2F%3E%20%3Cpath%20d%3D%22M38.9%2C109.379h174.6c6.8%2C0%2C12.3-5.5%2C12.3-12.3s-5.5-12.3-12.3-12.3H38.9c-21.5%2C0-38.9%2C17.5-38.9%2C38.9v327.4%20c0%2C21.5%2C17.5%2C38.9%2C38.9%2C38.9h327.3c21.5%2C0%2C38.9-17.5%2C38.9-38.9v-167.5c0-6.8-5.5-12.3-12.3-12.3s-12.3%2C5.5-12.3%2C12.3v167.5%20c0%2C7.9-6.5%2C14.4-14.4%2C14.4H38.9c-7.9%2C0-14.4-6.5-14.4-14.4v-327.3C24.5%2C115.879%2C31%2C109.379%2C38.9%2C109.379z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    /*background-position: -408px -104px;*/
  }
  #tab-footer .hearttab {
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20490.4%20490.4%22%20style%3D%22enable-background%3Anew%200%200%20490.4%20490.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cg%3E%20%3Cpath%20d%3D%22M222.5%2C453.7c6.1%2C6.1%2C14.3%2C9.5%2C22.9%2C9.5c8.5%2C0%2C16.9-3.5%2C22.9-9.5L448%2C274c27.3-27.3%2C42.3-63.6%2C42.4-102.1%20c0-38.6-15-74.9-42.3-102.2S384.6%2C27.4%2C346%2C27.4c-37.9%2C0-73.6%2C14.5-100.7%2C40.9c-27.2-26.5-63-41.1-101-41.1%20c-38.5%2C0-74.7%2C15-102%2C42.2C15%2C96.7%2C0%2C133%2C0%2C171.6c0%2C38.5%2C15.1%2C74.8%2C42.4%2C102.1L222.5%2C453.7z%20M59.7%2C86.8%20c22.6-22.6%2C52.7-35.1%2C84.7-35.1s62.2%2C12.5%2C84.9%2C35.2l7.4%2C7.4c2.3%2C2.3%2C5.4%2C3.6%2C8.7%2C3.6l0%2C0c3.2%2C0%2C6.4-1.3%2C8.7-3.6l7.2-7.2%20c22.7-22.7%2C52.8-35.2%2C84.9-35.2c32%2C0%2C62.1%2C12.5%2C84.7%2C35.1c22.7%2C22.7%2C35.1%2C52.8%2C35.1%2C84.8s-12.5%2C62.1-35.2%2C84.8L251%2C436.4%20c-2.9%2C2.9-8.2%2C2.9-11.2%2C0l-180-180c-22.7-22.7-35.2-52.8-35.2-84.8C24.6%2C139.6%2C37.1%2C109.5%2C59.7%2C86.8z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    /*background-position: -408px -78px;*/
  }
  #tab-footer .profiletab {
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20316.824%20316.824%22%20style%3D%22enable-background%3Anew%200%200%20316.824%20316.824%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpath%20d%3D%22M213.31%2C185.877l-0.81-0.366c-1.934-0.88-3.882-1.71-5.868-2.487c-2.166-0.868-4.364-1.671-6.594-2.423%20c-1.761-0.578-3.535-1.118-5.328-1.645c-2.731-0.79-5.489-1.504-8.329-2.134c-0.964-0.199-1.947-0.392-2.924-0.566l-0.668-0.129%20c-1.677-0.328-3.361-0.617-5.064-0.868l-0.488-0.077c-0.019%2C0-0.032-0.013-0.051-0.013l-0.488-0.064%20c-1.414-0.212-2.821-0.411-4.287-0.578l-4.987-0.411c-6.131-0.405-12.449-0.392-18.509%2C0.051l-1.767%2C0.148l-0.823%2C0.064%20l-2.063%2C0.186c-1.896%2C0.199-3.779%2C0.463-5.662%2C0.765l-0.553%2C0.077c-1.285%2C0.212-2.571%2C0.45-3.837%2C0.688%20c-1.407%2C0.251-2.796%2C0.527-4.184%2C0.829c-2.686%2C0.604-5.354%2C1.292-7.937%2C2.044c-2.057%2C0.591-4.087%2C1.24-5.996%2C1.896l-1.324%2C0.476%20c-4.049%2C1.433-8.072%2C3.078-11.967%2C4.884l-1.041%2C0.495l-0.019%2C0.026c-45.547%2C21.8-74.918%2C68.247-74.918%2C118.646%20c0%2C1.157%2C0.077%2C2.294%2C0.148%2C3.438l0.341%2C7.995H289.5l0.353-7.905c0.077-1.17%2C0.148-2.333%2C0.148-3.528%20C290.001%2C254.188%2C259.917%2C207.33%2C213.31%2C185.877z%20M39.682%2C303.97c0.553-45.251%2C27.308-86.762%2C68.086-105.882l1.311-0.514%20l0.154-0.148c3.194-1.459%2C6.491-2.789%2C9.833-3.965l1.06-0.379c1.819-0.63%2C3.631-1.208%2C5.514-1.742%20c2.346-0.688%2C4.737-1.305%2C7.134-1.844c1.24-0.263%2C2.481-0.514%2C3.76-0.752c1.015-0.186%2C2.024-0.379%2C3.046-0.54l0.501-0.09%20c1.838-0.289%2C3.683-0.553%2C5.521-0.752l4.203-0.366c5.501-0.405%2C10.765-0.463%2C17.14%2C0l4.087%2C0.341%20c1.009%2C0.116%2C2.018%2C0.251%2C3.246%2C0.424l1.472%2C0.212c1.536%2C0.225%2C3.072%2C0.488%2C4.614%2C0.778l0.72%2C0.135%20c0.868%2C0.161%2C1.729%2C0.328%2C2.545%2C0.501c2.532%2C0.553%2C5.019%2C1.208%2C7.487%2C1.922c1.632%2C0.476%2C3.252%2C0.964%2C4.833%2C1.491%20c2.005%2C0.668%2C3.985%2C1.395%2C5.945%2C2.172c1.883%2C0.739%2C3.74%2C1.53%2C5.578%2C2.372l0.321%2C0.148c41.704%2C19.133%2C68.786%2C60.779%2C69.339%2C106.467%20H39.682V303.97z%20M126.644%2C157.599c0.964%2C0.405%2C1.96%2C0.758%2C2.956%2C1.112l2.089%2C0.758c0.803%2C0.308%2C1.613%2C0.611%2C2.436%2C0.868%20c7.661%2C2.41%2C15.675%2C3.65%2C23.824%2C3.715l0.649%2C0.013c2.796%2C0%2C5.598-0.148%2C8.284-0.424c0.925-0.09%2C1.825-0.238%2C2.731-0.392%20l2.012-0.302c1.131-0.148%2C2.262-0.315%2C3.445-0.546c0.81-0.167%2C1.594-0.379%2C2.378-0.591l2.198-0.559%20c1.086-0.263%2C2.172-0.527%2C3.246-0.861c0.668-0.212%2C1.324-0.456%2C1.973-0.701l1.767-0.636c1.26-0.437%2C2.532-0.887%2C3.805-1.42%20c0.495-0.212%2C0.977-0.443%2C1.452-0.675l0.572-0.283c1.742-0.778%2C3.477-1.575%2C5.199-2.5l1.118-0.668%20c1.928-1.093%2C3.85-2.224%2C5.797-3.554c1.009-0.681%2C1.973-1.446%2C2.924-2.204l3.291-2.558c18.921-15.662%2C29.795-38.645%2C29.795-62.482%20l0.039-0.681c0-45.232-36.8-82.026-82.032-82.026c-43.175%2C0-79.095%2C33.76-81.775%2C76.859l-0.071%2C1.067%20c-0.103%2C1.356-0.186%2C2.712-0.186%2C4.1C76.547%2C115.066%2C96.207%2C144.726%2C126.644%2C157.599z%20M89.561%2C78.819l0.077-1.157%20c2.262-36.344%2C32.545-64.808%2C68.947-64.808c38.15%2C0%2C69.178%2C31.029%2C69.211%2C68.587l-0.039%2C0.675%20c-0.026%2C20.579-9.203%2C39.956-25.238%2C53.266l-3.053%2C2.327c-0.681%2C0.553-1.369%2C1.105-2.224%2C1.697%20c-1.542%2C1.048-3.175%2C1.992-4.833%2C2.931l-0.919%2C0.559c-1.388%2C0.746-2.847%2C1.407-4.364%2C2.082l-1.703%2C0.823%20c-0.977%2C0.405-2.005%2C0.758-3.021%2C1.112l-2.121%2C0.765c-0.411%2C0.154-0.829%2C0.321-1.234%2C0.443c-0.79%2C0.244-1.6%2C0.431-2.404%2C0.63%20l-2.564%2C0.656c-0.553%2C0.148-1.099%2C0.302-1.587%2C0.405c-0.855%2C0.167-1.729%2C0.283-2.596%2C0.405l-2.442%2C0.366%20c-0.591%2C0.103-1.183%2C0.206-1.845%2C0.27c-2.14%2C0.225-4.293%2C0.347-6.478%2C0.366l-0.604-0.006h-0.013%20c-7.037-0.006-13.946-1.054-20.553-3.123c-0.572-0.18-1.131-0.405-1.69-0.617l-2.416-0.88c-0.752-0.264-1.497-0.521-2.217-0.823%20C105.982%2C134.919%2C89.4%2C109.892%2C89.4%2C82.032C89.4%2C80.946%2C89.484%2C79.879%2C89.561%2C78.819z%22%2F%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    /*background-position: -374px -354px;*/
  }
}
