#timeline article, #timeline div, #timeline footer, #timeline header, #timeline section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

#timeline a, a:visited {
    color: #003569;
    text-decoration: none;
}

#timeline body, button, input, textarea {
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    line-height: 18px;
}

div.time-cards {
  /*float: left;*/
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
}

#timeline div.time--cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#timeline header.time-card-pro {
  display: flex;
  flex-shrink: 0;
  margin: 0;
  position: relative;
  /*border-bottom: 1px solid #e6e6e6;*/
  height: 60px;
  padding: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#timeline div.time-card-pro-pic {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#timeline img.time-card-avatar-image {
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#timeline div.time-card-pro-det {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  margin-left: 12px;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  position: relative;
}

#timeline div.time-card-pro-name {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 100%;
  display: flex;
}

#timeline a.time-card-pro--name /* , .time-card-pro--name:visited */ {
  /*color: #262626;*/
  color: #444;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;

  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

#timeline div.time-card-place {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}

#timeline a.time-card--place {
  color: #8f8f8f;
  font-weight: normal;
  /*color: #262626;*/
  max-width: 100%;
  line-height: 15px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#timeline a.time-card--place .postal-code{
  display: none;
}

#timeline a.time-card--place .extended-address{
  display: none;
}

#timeline a.time-card--place .street-address{
  display: none;
}


#timeline div.time-card--pic {
  left: 0;
  position: relative;
  top: 0;
}

#timeline div.time-card-pic-cont {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#timeline div.time-card-pic--cont {
  background-color: #efefef;
  display: block;
  width: 100%;
}

#timeline div.time-card-pic-img {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
}

#timeline img.time-card-pic-rimg {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  /*background-image: url(https://i0.wp.com/lh3.googleusercontent.com/-LXoFs8iibmI/WnsGvpfv3OI/AAAAAAAAUSs/BJuC9KfnZdkvaeB9Q_2NYt3_Fa7fvq0nACCoYBhgL/w700-o/IMG_9576.jpg?ssl=1);
  background-repeat: no-repeat;
  background-position: 50% 50%;*/
  box-sizing: border-box;
  object-fit: cover;
}

#timeline div.time-card-pic--img {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  top: 0;
}

#timeline div.time-card-pic-row {
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#timeline div.time-card-pic--row {
  table-layout: fixed;
}

#timeline table {
  border-collapse: collapse;
  border-spacing: 0;
}

#timeline div.time-card-etc {
  padding: 0 16px;
}

#timeline section.time-card-etc-mark {
  margin-top: -30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

#timeline a.mark-like {
  display: inline-block;
  margin-left: -8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  width: 40px;
  height: 40px;
}

/*#timeline span.card-heart-button {
  height: 24px;
  width: 24px;
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -408px -156px;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}*/

#timeline a.mark-comment {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}

#timeline span.card-comment-button {
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EBubble%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' d='M5 59l18.8-6.9a37.1 37.1 0 0 0 8.2.9c16.6 0 30-10.7 30-24S48.6 5 32 5 2 15.7 2 29c0 6.7 3.5 12.8 9.1 17.2z' fill='%23d5d4d4' stroke='%23d5d4d4' stroke-miterlimit='10' stroke-width='4' stroke-linejoin='round' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

#timeline a.mark-save {
  margin-left: auto;
  margin-right: -8px;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 8px;
}

#timeline span.card-save-button {
  height: 24px;
  width: 24px;
  background-image: url(https://goo.gl/NLUdLH);
  background-position: -104px -389px;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

#timeline article.time-card-etc-act {
  margin-bottom: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#timeline div.time-card-etc--act {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  display: block;
  font-weight: normal;
  color: #8f8f8f;
}

#timeline a.act-name {
  color: #262626;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

#timeline div.time-card-etc-comment {
  margin-bottom: 4px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-height: 0;
  overflow: auto;
  margin-top: -5px;
  padding-top: 5px;
  overflow-anchor: none;
  -webkit-overflow-scrolling: touch;
  color: #444;
  font-weight: normal;
}

#timeline ul.time-card-etc--comment {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

#timeline li.time-card-etc---comment:last-child {
  padding-bottom: 0;
}

#timeline li.time-card-etc---comment {
  overflow: hidden;
  padding-bottom: 6px;
  position: relative;
  word-wrap: break-word;
  margin-top: -5px;
  padding-top: 5px;
}

#timeline a.time-card-post-name {
  color: #262626;
  margin-right: .3em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

#timeline div.time-card-etc-time {
  margin-bottom: 4px;
  display: block;
}

#timeline a.time-card-etc--time {
  color: #999;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: normal;
}

#timeline div.time-card-post-time {
  font-size: 10px;
  letter-spacing: .2px;
}

#timeline section.time-card-etc-commentbox {
  padding-right: 26px;
  margin-top: 4px;
  border-top: 1px solid #efefef;
  color: #999;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 18px;
  min-height: 56px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 0;
  display: none;
}

#timeline section.show {
  display: block;
  animation: show 0.5s linear 0s;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#timeline form.time-card-etc--commentbox {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#timeline textarea.time-card-textarea {
  background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: none;
    padding: 0;
    resize: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

#timeline div.time-card-detail {
  bottom: 0;
  height: 52px;
  right: 10px;
  top: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
}

#timeline button.time-card-detail-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 6px;
}

#timeline span.time-card-detail--button {
  height: 16px;
  width: 16px;
  background-image: url(https://goo.gl/NLUdLH);
  background-repeat: no-repeat;
  background-position: -434px -345px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

/*.heart {
  position: relative;
  --size: 2vh;
  width: var(--size);
  height: var(--size);
}
.heart__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: calc(var(--size) * -.4);
  left: calc(var(--size) * -.2);
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 1.5);
  z-index: 2;
  cursor: pointer;
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}
.heart__checkbox:focus {
  outline: none;
}
.heart__checkbox:hover ~ .heart__icon {
  -webkit-transform: scale(1.1) rotate(45deg);
          transform: scale(1.1) rotate(45deg);
}
.heart__checkbox:checked ~ .heart__icon {
  -webkit-animation: heartAnimation forwards 1s;
          animation: heartAnimation forwards 1s;
}
.heart__icon {
  width: var(--size);
  height: var(--size);
  background: #D5D4D4;
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
  position: absolute;
  top: 7px;
  left: 5px;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.heart__icon::before, .heart__icon::after {
  content: '';
  display: block;
  background: inherit;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
}
.heart__icon::before {
  top: 0;
  left: -50%;
}
.heart__icon::after {
  left: 0;
  top: -50%;
}

@-webkit-keyframes heartAnimation {
  0% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(0.7) rotate(45deg);
            transform: scale(0.7) rotate(45deg);
  }
  45% {
    -webkit-transform: scale(1.4) rotate(45deg);
            transform: scale(1.4) rotate(45deg);
    background: red;
  }
  70% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
    background: red;
  }
  100% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
    background: red;
  }
}

@keyframes heartAnimation {
  0% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(0.7) rotate(45deg);
            transform: scale(0.7) rotate(45deg);
  }
  45% {
    -webkit-transform: scale(1.4) rotate(45deg);
            transform: scale(1.4) rotate(45deg);
    background: red;
  }
  70% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
    background: red;
  }
  100% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
    background: red;
  }
}*/


#timeline .action {
    height: 18vh;
    width: 18vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}
#timeline .love {
  width: 25px;
  height: 25px;
}
#timeline .line {
  margin: 2vh;
  position: absolute;
  top: -2px;
  left: -1px;
}
#timeline .line:nth-of-type(1) {
  transform: rotate(0deg);
}
#timeline .line:nth-of-type(2) {
  transform: rotate(45deg);
}
#timelin .line:nth-of-type(3) {
  transform: rotate(90deg);
}
#timeline .line:nth-of-type(4) {
  transform: rotate(135deg);
}
#timeline .line:nth-of-type(5) {
  transform: rotate(180deg);
}
#timeline .line:nth-of-type(6) {
  transform: rotate(225deg);
}
#timeline .line:nth-of-type(7) {
  transform: rotate(270deg);
}
#timeline .line:nth-of-type(8) {
  transform: rotate(315deg);
}
#timeline .line.active:before {
  content: '';
  height: 9vh;
  width: 0.4vh;
  background: red;
  position: absolute;
  top: -4.5vh;
  left: -0.18vh;
  will-change: top, height;
  animation: line1 .3s ease-out 1;
}
#timeline .heart {
  background-color: #D5D4D4;
  width: 2vh;
  height: 2vh;
  margin: auto;
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(-45deg);
}
#timeline .heart:before, #timeline .heart:after {
  content: '';
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #D5D4D4;
  position: absolute;
}
#timeline .heart:before {
  top: -1vh;
  left: 0;
}
#timeline .heart:after {
  top: 0;
  left: 1vh;
}
#timeline .heart.love {
  background: #F80808;
}
#timeline .heart.love:before, #timeline .heart.love:after {
  background: #F80808;
}
#timeline .heart.active {
  animation: grow-shrink .3s ease 1;
}

@keyframes line1 {
  0% {
    opacity: 1;
  }
  25% {
    top: -4.5vh;
  }
  65% {
    height: 2vh;
  }
  100% {
    height: 0.36vh;
    top: -5vh;
  }
}
@keyframes grow-shrink {
  40% {
    transform: scale(1.1) rotate(-45deg);
  }
  75% {
    transform: scale(0.9) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

@media (min-width: 640px) {
  #timeline article.time-card {
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
  }
}

@media (min-width: 736px) {
  #timeline div.time-ps {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 735px) {
  .tlpc {
    padding: 45px 0 0;
  }
  div.time-cards {
    font-size: 15px;
  }
  #timeline article.time-card {
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #fff;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
  }
  #timeline a.time-card-pro--name{
    font-size: 15px;
  }
  #timeline div.time-card-post-time {
    font-size: 15px;
  }
}
